/* your code here */
body{
	background-color:rgb(16, 227, 128);
	margin:0px;
	padding:0px;
}
.product{
	width:700px;
	height:650px;
	background-color:red;
	display:flex;	
	position:relative;
	left:250px;
	margin-top:50px;
	border-radius:15px;
}
.product__photo{
	margin-left:300px;
	margin-top:60px;
	height:500px;
	width:380px;
	background-image: radial-gradient(circle, yellow, #9de310ff);
	border-radius:15px 15px 0px 0px;
	position:relative;
	left:-350px
}
.controls{
	display:flex;
	justify-content:space-between;
	padding:20px;
	color:white;
}
.photo-main > img{
	position:relative;
	left:-70px;
}
.photo-album{
	width:380px;
	height:120px;
	background-color:white;
	border-radius:0 0 15px 15px
}
.photo-album > ul > li > img{
	padding:1px;
}
.photo-album > ul > li{
	list-style:none;
	border:2px solid #d1d1d1ff;
	display:inline-block;
	padding:5px;
	margin-top:15px;
	border-radius:10px;
	margin-left:5px;	
}

.product__info{
	width:300px;
	height:500px;
	background-color:white;
}